@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Bungee+Spice&family=Roboto+Slab:wght@100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Leckerli+One&display=swap');


@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Prata&display=swap');


@import "tailwindcss";



@theme{
    --font-good : Archivo Black;
    --font-curly : Leckerli One;
    --font-good2 : Merriweather;
    --font-prata : Prata;
}

a.active hr{
    display: block;
}

@media (max-width:640px){
    a.active{
        color: red;
    }
}